@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    /* Colors */
    --primary-color: #336699;
    --secondary-color: #669966;
    --accent-color: #FFA500;
    --additional-accent-color: #CCCC00;
    
    /* Fonts */
    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Arial', sans-serif;
    
    /* Navigation */
    --navigation-background-color: #FFFFFF;
    --navigation-link-color: #000000;
    --navigation-hover-link-color: #336699;
    --navigation-hover-background-color: #CCCCCC;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
  }
  header{
    background-color: var(--accent-color);
    padding: 10px;
  }
  p{
    padding: 25px;
  }
  nav{
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  nav a{
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  nav a:hover nav a:visited{
    color: var(--navigation-hover-link-color);
  }
  nav a:hover{
    background-color: var(--navigation-hover-background-color);
  }